<h3>
  <%= l :current_week_title %>
  <%= ": #{@curr_date.strftime("%V")}/#{@curr_date.year}" %>
</h3>

<div class="date">
  <%= form_tag("/schedules", method: "get") do %>
    <input id="schedule_date" name="schedule_date" type="text" size="10"
      value="<%= "#{format_time @curr_date}" %>" readonly />
    <script>
      $(function() { $('#schedule_date').addClass('date').datepicker(datepickerOptions); });
    </script>
    <%= submit_tag("Ok") %>
  <% end %>
</div>

<div class="details">
  <%= l :shift_schedule_settings_title %>
  <%= ": #{Setting.plugin_shift_schedule['buffer']}%" %>

  <div class="info">
    <% if @schedules.empty? then %>
      <h2><%= l :nothing_scheduled %></h2>
    <% end %>
  </div>
</div>
