<h3>
  <%= l :title_current_week %>
  <%= ": #{@curr_date.strftime("%V")}/#{@curr_date.year}" %>
</h3>

<div class="date">
  <%= form_tag "/schedules/view", method: "get", :id => 'date_form' do %>
    <input id="schedule_date" name="schedule_date" type="text" size="10"
    value="<%= "#{format_time @curr_date}" %>" onchange="document.getElementById('date_form').submit();" readonly />
  <% end %>
</div>

<div class="details">
  <%= l :title_shift_schedule_settings %>
  <%= ": #{Setting.plugin_shift_schedule['buffer']}%" %>
  <br>
  <% if @schedhash.empty? then %>
    <%= l :i_nothing_scheduled %>
  <% else %>
    <br>
  <% end %>
</div>

<div>
  <a href="/schedules/sel_pr" class="button"><%= l :lbl_select_project %></a>
</div>

<script>
  $(function() { $('#schedule_date').addClass('date').datepicker(datepickerOptions); });
</script>
