<%= form_tag("/schedules/edit", method: "post") do %>

<table class="schedule">
  <tr>
    <th>Name</th>
    <% @versions.each do |version| %>
      <th class="side_border" ><%= " #{version.name} " %></th>
    <% end %>
    <th class="side_border">
      <a href="/schedules/new" class="button">+Version</a>
    </th>
    <th>h/W</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= "#{user.firstname} #{user.lastname}" %></td>
    <% @versions.each do |version| %>
      <td><input id="<%="#{user.id}|#{version.id}"%>" max="<%= ava_time(user) %>" min="0"
                 name="<%="#{user.id}|#{version.id}"%>" type="number" value="<%= @schedhash[[user.id, version.id]] %>"/></td>
    <% end %>
    <td class="empty"></td>
    <td><%= "#{sum_time(user, @versions, @schedhash)}/#{ava_time(user)}" %></td>
  </tr>
  <% end %>
</table>

<%= submit_tag("Edit") %>
<% end %>
