<%= form_tag "/schedules/edit", method: "post" do %>
  <table class="schedule">
    <tr>
      <th><%= "#{@curr_date.strftime("%V")}/#{@curr_date.year}" %></th>

      <% @versions.each do |version| %>
        <th class="side_border" ><%= " #{version.name} "%></br><small><%= " #{version.pname} " %></small></th>
      <% end %>

      <th class="side_border">
        <a href="/schedules/new" class="button">+Version</a>
      </th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td <% if (user.id == User.current.id) then %>style="background-color: Lavender;"<% end %>><%= "#{user.firstname} #{user.lastname}" %></td>
        <% @versions.each do |version| %>
          <td>
            <input id="<%="#{user.id}|#{version.id}"%>" max="<%= ava_time(user) %>" min="0"
                   name="<%="#{user.id}|#{version.id}"%>" type="number" value="<%= @schedhash[[user.id, version.id]] %>"/>
          </td>
        <% end %>
        <td <% if (ava_time(user) < sum_user_time(user, @versions, @schedhash)) then %>style="background-color: red;"<%end%>>>
          <%= "#{sum_user_time(user, @versions, @schedhash)} / #{ava_time(user)}" %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td style="text-align: center; font-size: 18px;">&Sigma;</td>
      <% @versions.each do |version| %>
        <td> <%= "#{sum_version_time(version, @users, @schedhash)}" %> </td>
      <% end %>
      <td><%= sum_user_version_time(@users, @versions, @schedhash) %></td>
    </tr>
  </table>
<%= submit_tag("Edit") %>
<% end %>
