<%= form_tag "/schedules/edit", method: "post" do %>
  <table class="schedule_table">
    <tr>
      <th><%= "#{@curr_date.strftime("%V")}/#{@curr_date.year}" %></th>
      <% @versions.each do |version| %>
        <th class="side_border" >
          <%= version.name %>
          <% if User.current.allowed_to?(:edit_schedules, @project) %>
            <button type="button" onclick="idSelect(<%=(version.id).to_i%>, true)">-</button>
          <% end %>
          </br><small><%= version.pname %></small>
        </th>
      <% end %>
      <th class="side_border">
        <% if User.current.allowed_to?(:edit_schedules, @project) %>
          <a href="/schedules/new" class="button">+Version</a>
        <% end %>
      </th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td <% if (user.id == User.current.id) %> style="background-color: Lavender;" <% end %>>
          <%= "#{user.firstname} #{user.lastname}" %>
        </td>
        <% @versions.each do |version| %>
          <td>
            <% if User.current.allowed_to?(:edit_schedules, @project) %>
              <input id="<%="#{user.id}|#{version.id}"%>" name="<%="#{user.id}|#{version.id}"%>"
              size = "6" type="text" value="<%= @schedhash[[user.id, version.id]] %>"/>
            <% else %>
              <%= @schedhash[[user.id, version.id]] %>
            <% end %>
          </td>
        <% end %>
        <td <% if (ava_time(user) < sum_user_time(user, @versions, @schedhash)) %> style="background-color: #ba0022;" <%end%>>
          <%= "#{sum_user_time(user, @versions, @schedhash)} / #{ava_time(user)}" %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td style="text-align: center; font-size: 18px;">&Sigma;</td>
      <% @versions.each do |version| %>
        <td> <%= "#{sum_version_time(version, @users, @schedhash)}" %> </td>
      <% end %>
      <td><%= sum_user_version_time(@users, @versions, @schedhash) %></td>
    </tr>
  </table>
<% if User.current.allowed_to?(:edit_schedules, @project) %>
  <%= submit_tag("Save") %>
<% end %>
<% end %>

<%= form_tag "/schedules/delete", method: "post", :id => 'id_form' do %>
  <input id="_id" name="_id" type="hidden" value="0"/>
<% end %>
