<% content_for :header_tags do %>
  <%= stylesheet_link_tag("schedules", :plugin => "shift_schedule") %>
<% end %>

<div class="container">
  <div class="head">
    <h2 class="title"><%= l :add_new_title %>: <%= ": #{@curr_date.strftime("%V")}/#{@curr_date.year}" %></h2>
  </div>
  <div class="main">
    <div class="details">
      <% if @versions.empty? %>
        <h2><%= l :no_unsched_versions %></h2>
      <% end %>
    </div>
    <% unless @versions.empty? %>
      <div style="margin-left: 40px;">
        <table class="version_table">
          <tr>
            <th>Version</th>
            <th class="side_border">Name</th>
            <th>of Project</th>
          </tr>
          <% @versions.each do |v| %>
            <tr class="elem" onclick="window.document.location='/schedules/create/?v=<%= v.id %>';">
              <td><%= v.id %> </td>
              <td><%= v.name %></td>
              <td><%= v.pname %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>
