<% content_for :header_tags do %>
  <%= stylesheet_link_tag("schedules", :plugin => "shift_schedule") %>
  <%= javascript_include_tag("script", :plugin => "shift_schedule") %>
<% end %>

<div class="container">
  <div class="head">
    <h2 class="title"><%= l :title_add_new %>: <%= ": #{@curr_date.strftime("%V")}/#{@curr_date.year}" %></h2>
    <% if @versions.empty? %>
      <h3><%= l :i_no_unsched_versions %></h3>
    <% end %>
  </div>
  <div class="main">
    <% unless @versions.empty? %>
      <table class="select_table">
        <tr>
          <th>Version</th>
          <th class="side_border">Name</th>
          <th>of Project</th>
        </tr>
        <% @versions.each do |v| %>
          <tr class="row" onclick="idSelect(<%=(v.id).to_i%>, true)">
            <td><%= v.id %> </td>
            <td><%= v.name %></td>
            <td><%= v.pname %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <div style="margin: 20px;">
      <a href="/schedules/view?schedule_date=<%=format_time(session[:curr_date])%>" class="button"><%= l :lbl_back %></a>
    </div>
  </div>
</div>

<%= form_tag "/schedules/create", method: "post", :id => 'id_form' do %>
  <input id="_id" name="_id" type="hidden" value="0"/>
<% end %>
