<% content_for :header_tags do %>
  <%= stylesheet_link_tag("schedules", :plugin => "shift_schedule") %>
  <%= javascript_include_tag("script", :plugin => "shift_schedule") %>
<% end %>

<div class="container">
  <div class="head">
    <h2 class="title"><%= l :title_shift_schedule %></h2>
  </div>
  <div class="main">
    <div class="nav">
      <%= render :partial => "navigation" %>
    </div>
    <div class="content">
      <div id="scheduleview">
        <%= render :partial => "scheduling" %>
      </div>
    </div>
  </div>
</div>
